@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");
* {
    font-family: "Cedarville Cursive", cursive;
}
.center {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

#imageBody {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
}
body {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.bottom-bar {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    bottom: 0;
}
